html {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.header {
    height: 60px;
    width: 100%;
    background-color: #e50914;
    color: #FFFFFF;
    line-height: 60px;
}

.header-logo {
    margin: 0 20px;
    padding: 0;
    float: left;
    vertical-align: middle;
    line-height: inherit;
    font-size: 28px;
    font-weight: bold;
}

.menu {
    margin: 0;
    padding: 0;
}

.menu ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    margin: 0;
    padding: 0 7px;
    float: left;
    list-style-type: none;
    font-size: 18px;
    font-weight: 300;
}

.menu li:hover {
    background-color: #A1151C;
}

.search {
    margin: 0 10px;
    margin-top: 15px;
    padding: 0;
    overflow: hidden;
    float: right;
    text-align: center;
}

.search-bar {
    margin: 0;
    padding: 0 10px;
    height: 30px;
    width: 200px;
    outline: none;
    border: none;
    font-size: 12px;
    float: left;
}

.search-icon {
    height: 30px;
    width: 20px;
    float: right;
    line-height: 30px !important;
    font-size: 16px;
    color: #303030;
    background-color: #FFFFFF;
    padding: 0;
    font-size: 0;
    display: inline-block;
}

.profile {
    margin: 0;
    padding: 0 10px;
    overflow: hidden;
    float: right;
    font-size: 14px;
}

.profile:hover {
    background-color: #A1141C;
}

.profile-picture {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    height: 40px;
    width: 40px;
    background-image: url("../images/user.png");
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
}

.profile-name {
    margin: 0 0 0 10px;
    padding: 0;
    float: right;
}

.container {
    background-color: #2b2b2b;
    height: 100%;
}
