html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a {
	display: block;
	cursor: pointer;
	text-decoration: none;
	color: #FFFFFF;
}

#system {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}

.header {
    height: 60px;
    width: 100%;
    background-color: #e50914;
    color: #FFFFFF;
    line-height: 60px;
    position: fixed;
    z-index: 1;
}

.header .header-logo {
    margin: 0;
    padding: 0;
    float: left;
    vertical-align: middle;
    line-height: inherit;
    font-size: 28px;
    font-weight: bold;
}

.header .logo-link {
	margin: 0 20px;
	float: left;
	display: inline-block;
}

.header .menu {
    margin: 0;
    padding: 0;
	float: left;
}

.header .menu ul {
    margin: 0;
    padding: 0;
	float: left;
}

.header .menu li {
    margin: 0;
    padding: 0 7px;
    float: left;
    list-style-type: none;
    font-size: 18px;
    font-weight: 300;
}

.header .menu li:hover {
    background-color: #A1151C;
}

.header .menu-item-link {
	float: left;
}

.header .search {
    margin: 0 10px;
    margin-top: 15px;
    padding: 0;
    overflow: hidden;
    float: right;
    text-align: center;
}

.header .search-form {
    margin: 0;
    height: 30px;
    width:220px;
    float: left;
}

.header .search-bar {
    margin: 0;
    padding: 0 10px;
    height: 30px;
    width: 200px;
    outline: none;
    border: none;
    font-size: 14px;
    float: left;
}

.header .search-icon {
	padding-right: 5px;
    height: 30px;
    width: 20px;
    float: right;
    line-height: 30px !important;
    font-size: 16px;
    color: #303030;
    background-color: #FFFFFF;
    font-size: 0;
    display: inline-block;
}

.header .profile {
    margin: 0;
    padding: 0 10px;
    overflow: hidden;
    float: right;
    font-size: 16px;
}

.header .profile:hover {
    background-color: #A1141C;
}

.header .profile-picture {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    height: 40px;
    width: 40px;
    background-image: url("../images/user.png");
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
}

.header .profile-name {
    margin: 0 0 0 10px;
    padding: 0;
    float: right;
}

.footer {
	margin: 0;
	padding: 0;
	background-color: #1b1b1b;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 300;
	height: 100px;
	line-height: 100px;
	text-align: center;
}

.feed.container {
    margin-top: 60px;
    padding: 20px 0;
    background-color: #2b2b2b;
    display: inline-block;
    width: 100%;
}

.feed .feed-list {
    margin: 0 auto;
    padding: 10px;
    color: #FFFFFF;
    font-weight: 300;
}

.feed .title {
    margin: 0;
	padding: 0 10px;
	overflow: hidden;
}

.feed .feed-name {
    float: left;
}

.feed .more {
    float: right;
	vertical-align: middle;
}

.feed .more-chevron {
	padding-left: 5px;
	vertical-align: middle;
}

.feed .feed-container {
	margin: auto;
	padding: 0;
}

.feed .feed-item {
    margin: 0;
    padding: 10px 10px;
    list-style-type: none;
	display: inline-block;
}

.feed .preview {
    margin: 0;
	padding: 0;
	float: left;
	object-fit: cover;
	box-shadow: 0 1px 5px rgba(0,0,0,0.3)
}

.feed .preview:hover {
	background-color: #000000;
	opacity: 0.75;
}

.feed .preview-title {
    margin: 3px 0 0 0;
    padding: 0;
    float: right;
    clear: both;
	color: #808080;
	font-size: 13px;
    font-weight: normal;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.search.container {
    margin-top: 60px;
    padding: 20px 0;
    background-color: #2b2b2b;
    display: inline-block;
    width: 100%;
}

.search .row {
    margin: 0 auto;
    padding: 10px;
    color: #FFFFFF;
    font-weight: 300;
}

.search .title {
    margin: 0;
	padding: 0 10px;
	overflow: hidden;
}

.search .genre {
    float: left;
}

.search .more {
    float: right;
	vertical-align: middle;
}

.search .more-chevron {
	padding-left: 5px;
	vertical-align: middle;
}

.search .video-container {
	margin: auto;
	padding: 0;
}

.search .feed-item {
    margin: 0;
    padding: 10px 10px;
    list-style-type: none;
	display: inline-block;
}

.search .preview {
    margin: 0;
	padding: 0;
	float: left;
	object-fit: cover;
	box-shadow: 0 1px 5px rgba(0,0,0,0.3)
}

.search .preview:hover {
	background-color: #000000;
	opacity: 0.75;
}

.search .preview-title {
    margin: 3px 0 0 0;
    padding: 0;
    float: right;
    clear: both;
	color: #808080;
	font-size: 13px;
    font-weight: normal;
}

.video.container {
    margin-top: 60px;
	padding: 20px 0;
    width: 100%;
    min-width: 960px;
	background-color: #2b2b2b;
    text-align: center;
    display: inline-block;
}

.video .video-container {
	display: inline-block;
    text-align: left;
    width: 940px;
}

.video .video-info {
	float: left;
	display: inline-block;
}

.video .video {
	margin: 0;
	padding: 0;
}

.vjs-big-play-button {
	top: 160px !important;
	left: 278px !important;
}

.video .video-title {
	margin: 0;
	margin-top: 10px;
	padding: 0;
	font-size: 20px;
	font-weight: 300;
	color: #FFFFFF;
}

.video .tags {
    margin: 0;
    margin-left: 10px;
    padding: 0;
    float: left;
    width: 220px;
}

.video .tags-name {
    color: #FFFFFF;
    float: left;
    padding-left: 0px;
    font-weight: 400;
    clear: both;
}

.video .tags-list {
    margin: 0;
    margin-left: 10px;
    padding: 0;
    width: 100%;
    float: left;
    clear: both;
}

.video .tags-item {
    margin: 3px 0 3px 5px;
    padding: 2px 5px;
    list-style-type: none;
    display: inline-block;
    float: left;
    /*clear:both;*/
    font-weight: 400;
    font-size: 15px;
}

.video .tags-item-extra-male {
    color: #FFFFFF;
    background-color: #2196f3;
}

.video .tags-item-extra-female {
    color: #FFFFFF;
    background-color: #ec407a;
}

.video .tags-item-channel {
    color: #FFFFFF;
    background-color: #ab47bc;
}

.video .tags-item-tags {
    color: #FFFFFF;
    background-color: #f44336;
}

.video .tags-count {
    margin-left: 2px;
    color: #E0E0E0;
}

.video .tags-item-extra-male .tags-count-pornstars {
    color: #90caf9;
}

.video .tags-item-extra-female .tags-count-pornstars {
    color: #f48fb1;
}

.video .tags-count-channel {
    color: #ce93d8;
}

.video .tags-count-tags {
    color: #ef9a9a;
}

.video .recommended {
    clear: both;
	float: left;
	display: inline-block;
	color: #FFFFFF;
}

.video .feed-list {
    margin: 0 auto;
	padding: 0;
    color: #FFFFFF;
    font-weight: 300;
}

.video .title {
    margin: 0;
	padding: 0 10px;
	overflow: hidden;
}

.video .feed-name {
    float: left;
}

.video .more {
    float: right;
	vertical-align: middle;
}

.video .more-chevron {
	padding-left: 5px;
	vertical-align: middle;
}

.video .feed-container {
	margin: auto;
	padding: 0;
}

.video .feed-item {
    margin: 0;
    padding: 10px 10px;
    list-style-type: none;
	display: inline-block;
}

.video .preview {
    margin: 0;
	padding: 0;
	float: left;
	object-fit: cover;
	box-shadow: 0 1px 5px rgba(0,0,0,0.3)
}

.video .preview:hover {
	background-color: #000000;
	opacity: 0.75;
}

.video .preview-title {
    margin: 3px 0 0 0;
    padding: 0;
    float: right;
    clear: both;
	color: #808080;
	font-size: 13px;
    font-weight: normal;
}
